// Responsivo 
@mixin d($device) {
  @if $device == m {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @else if $device == t {
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      @content;
    }
  }
}

// Border-box 
@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}